# config/rankings.yaml

data_sources:
  toll_data: "数据/{date}.xlsx"
  new_data: "新曲数据/新曲{date}.xlsx"

# 周刊
weekly:
  ranking_type: "weekly"
  has_new_ranking: true
  update_options:
    count: true         # 更新在榜周数
    rank_and_rate: true # 更新上周排名和rate
  output_paths:
    toll_ranking: "周刊/总榜/{target_date}.xlsx"
    new_ranking: "周刊/新曲榜/新曲{target_date}.xlsx"

# 月刊
monthly:
  ranking_type: "monthly"
  has_new_ranking: true
  update_options:
    count: false        # 月刊无在榜次数
    rank_and_rate: true
  output_paths:
    toll_ranking: "月刊/总榜/{target_date}.xlsx"
    new_ranking: "月刊/新曲榜/新曲{target_date}.xlsx"

# 年刊
annual:
  ranking_type: "annual"
  has_new_ranking: false
  update_options:
    count: false
    rank_and_rate: false
  output_paths:
    toll_ranking: "测试内容/{target_date}.xlsx"

# 日刊
daily:
  threshold: 1000  # 新曲日增阈值
  input_paths:
    main_data: "数据/{date}.xlsx"
    new_song_data: "新曲数据/新曲{date}.xlsx"
    collected_songs: "收录曲目.xlsx"
  output_paths:
    main_diff: "差异/非新曲/{new_date}与{old_date}.xlsx"
    new_song_diff: "差异/新曲/新曲{new_date}与新曲{old_date}.xlsx"

# 日刊新曲排行榜
daily_new_song:
  input_paths:
    diff_file: "差异/新曲/新曲{new_date}与新曲{now_date}.xlsx"
    previous_ranking: "新曲榜/新曲榜{now_date}与{old_date}.xlsx"
  output_paths:
    ranking: "新曲榜/新曲榜{new_date}与{now_date}.xlsx"

# 日刊合并
daily_combination:
  input_paths:
    main_diff: "差异/非新曲/{new_date}与{now_date}.xlsx"
    new_song_diff: "差异/新曲/新曲{new_date}与新曲{now_date}.xlsx"
    collected_songs: "收录曲目.xlsx"
    main_data: "数据/{new_date}.xlsx"
    new_song_data: "新曲数据/新曲{new_date}.xlsx"
    previous_combined: "差异/合并表格/{now_date}与{old_date}.xlsx"

  output_paths:
    collected_songs: "收录曲目.xlsx"
    combined_ranking: "差异/合并表格/{new_date}与{now_date}.xlsx"
    main_data: "数据/{new_date}.xlsx"

# 特刊
special:
  ranking_type: "special"
  
  processing_options:
    use_old_data: false
    use_collected: false

  paths:
    input_path: "特殊/特殊原始数据/{song_data}.xlsx"
    output_path: "特殊/特殊排行榜/{song_data}.xlsx"